#head{
    width:50%;
}


.product-image{
    height: 200px;
    width :200px;
}

.gap{
    padding-left:150px;
}
.indexMargin{
    padding-left: 200px;
}

.button{
    padding-left: 700px;
}
.button2{
    padding-left:200px;
}